@import url("https://fonts.googleapis.com/css?family=Quicksand");
* { box-sizing: border-box; border: 1px solid red; }

body { margin: 0 auto; font-family: "Quicksand", "Arial", sans-serif; }

.container { width: 1100px; max-width: 100%; margin: 0 auto; }

.navigation { width: 100%; background-color: transparent; z-index: 999; transition: 0.3s all linear; }

.navigation-container { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding-top: 10px; }

.menu-container { display: -ms-flexbox; display: flex; width: 100%; -ms-flex-pack: justify; justify-content: space-between; }

.menu-button-input[type="checkbox"] + label { font-size: 25px; cursor: pointer; }

.menu-button-input, .menu-button-label { display: none; color: lightgrey; }

.menu { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding-right: 10px; }

.menu-item { list-style-type: none; padding-left: 40px; }

.menu-item a { text-decoration: none; color: white; font-size: 20px; font-weight: 800; text-transform: uppercase; letter-spacing: 2px; transition: 0.3s all linear; }

.menu-item a:hover { color: darkgrey; text-shadow: 0 0 10px black; }

.hero { height: 100vh; background-image: url("../images/bckg.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; margin-top: -80px; }
/*# sourceMappingURL=style.css.map */