@import url("https://fonts.googleapis.com/css?family=Quicksand");

// Variables

$red: red;
$black: black;
$white: white;
$lightgrey: lightgrey;
$darkgrey: darkgrey;

$font-size-s: 14px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-xl: 30px;

* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    margin: 0 auto;
    font-family: "Quicksand", "Arial", sans-serif;
}

.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

// Navigation sectio

// .menu button:active {
//   background-color: red;
// }

.navigation {
    //position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    transition: 0.3s all linear;
}

.navigation-container {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.menu-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

// Hamburger menu

.menu-button-input[type="checkbox"] + label {
    font-size: 25px;
    cursor: pointer;
}

.menu-button-input,
.menu-button-label {
    display: none;
    color: $lightgrey;
}

.menu {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.menu-item {
    list-style-type: none;
    padding-left: 40px;

    a {
        text-decoration: none;
        color: $white;
        font-size: $font-size-m;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.3s all linear;

        &:hover {
            color: $darkgrey;
            text-shadow: 0 0 10px $black;
        }
    }
}

// Hero section

.hero {
    height: 100vh;
    background-image: url("../images/bckg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -80px;
}

//====================================================================================

// Max 750px

// @media all and (max-width: 750px) {
//     .container {
//         padding: 0 15px;
//     }

//     .menu {
//         display: none;
//         padding-left: 0;
//         padding-right: 0;
//     }

//     .navigation-container {
//         padding-top: 5px;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//     }

//     .navigation {
//         display: flex;
//         flex-direction: column;
//         margin: auto;
//     }

//     .menu-container {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//     }

//     .menu-button-label {
//         display: block;
//         margin: 0 auto;
//         padding: 3px 15px;
//         color: $darkgrey;
//         margin-right: 5px;
//         //margin-top: -40px;
//     }

//     .menu-button-input:not(:checked) ~ ul {
//         display: none;
//     }

//     .menu-button-input:checked ~ ul {
//         display: flex;
//         flex-direction: column;
//     }

//     .menu-item {
//         background-color: rgba($black, 0.6);
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         line-height: 44px;
//         margin: auto;
//         padding-left: 0;
//         align-items: center;
//     }
// }
